
/* Set the font size. Needed since the game size is set in pixels */
body{
    font-size: 16px;
}

/* Set the right margin to zero in the game container and the panel column */
.pr-0 {
    padding-right: 0 !important;
    margin-right: 0 !important;
}

/* Set the left margin to zero in the game container and the panel card */
.pl-0 {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

/* Set the location and size of the panel column manually. This is the easiest
   way of getting it right in a fixed size frame */
#panel_column {
    height: 650px;
    width: 300px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    padding-left: 5px;
}

/* Set the location and size of the Phaser game manually as well */
#game_container {
    height: 650px;
    width: 650px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 300px;
}

/* The input fields in the random map menu */
.random_map_input {
    vertical-align: middle;
    padding:1px;
    margin:1px;
    width: 60px;
    padding-left: 20 !important;
}

/* The labels for the random menu input fields */
label {
  display: inline-block;
  width: 180px;
  text-align: right;
}

/* Center menu cards in frame */
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Container for the full game, panel and Phaser game */
#scenario-div {
    display: none;
}

/* A popup that can be displayed in the lower part of the game */
#popup {
    display: none;
    position: fixed;
    top: 590px;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 10;
}

/* The next turn button */
#next_turn_button{
  display:inline-block;
  position: absolute;
  top: 510px;
  width: 280px;
}

/* Buttons in the menus */
#main_menu_button {
  display:inline-block;
  position: absolute;
  top: 550px;
  width: 280px;
}

/* Buttons in the random menu. There are 2 side by side */
.random-menu-button{
    width: 45%
}


/* Start a menu hidden */
.hidden {
    display: none;
}

/* The navigation tabs */
.card-header-tabs{
    font-size: 14px;
}

.nav-link {
    font-size: 14px;
    border: 0 !important;
}

/* Very small button, for incrementing and decrementing worker amounts */
.btn-vsm {
    margin: 0 !important;
    padding: 5px !important;
    font-size: 14px;
    vertical-align: middle;
    float: right;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.panel_card {
    max-height: 440px;
    padding-bottom: 0px;
    overflow-y: auto;
}
