

.pr-0 {
    padding-right: 0 !important;
    margin-right: 0 !important; 
}

.pl-0 {
    padding-left: 0 !important;
    margin-left: 0 !important; 
}

p {
    margin: 0 !important; 
}




.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}






